@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300|Arimo);


body {
  background: #e7eaec; /*  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.container {max-width: none !important; width:1140px !important; background:none !important;}*/
     
.front-message p {font-family: 'Arimo', sans-serif; font-size: 25px; padding: 30px; color: #565655; text-align:center; margin-bottom: 20px; border-bottom: 1px solid #8c8b86;}
.front-message p strong {}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400;
}

p {
	font-family: 'Arimo', sans-serif;
  font-size: 1.15em;
  line-height: 1.286;
  color: #000;
}

hr {
  border-color: #8c8b86;
  max-width: 1200px;
}

.brand,
.address-bar {
  display: none;
}

header {width:100%; margin:0 auto 10px; background:none;
border-bottom: 0px solid #F13639;
/*-webkit-box-shadow: -8px 12px 2px -11px  rgba(50, 50, 50, 0.8);
-moz-box-shadow:    -8px 12px 2px -11px  rgba(50, 50, 50, 0.8);
box-shadow:         -8px 12px 2px -11px  rgba(50, 50, 50, 0.8);*/
}
header .container {background:none;}
.banner {width:1170px; height:auto;s}

header a {/*! color:#8c8b86; */ /*! font-family: 'Varela', sans-serif; */}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}
#navbar {padding: 0px;}
.navbar .container-fluid {padding: 0px;}
.navbar-nav {
  /*! text-transform: uppercase; */
  /*! letter-spacing: 0px; */
  /*! font-weight: 400; */
  

}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
  font-family: 'Playfair Display', serif;
  
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.0);
  padding: 0;
  width:100%;
  margin: 0px auto;
}

.slbox { margin-bottom:0px;}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border img{
  float: none;
  margin: 0;
  border: #428BCA solid 2px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
	background-color: #fff;
   bottom:0;
   left:0;
    /*! height: 60px; */
    position: relative;
    width: 100%;
	margin:1px 0 0;
 /* height: auto;
  position: absolute;
  bottom:0;
  border-top:0px solid #3F3E3B;
  width:100%;

  -webkit-box-shadow: 0px -3px 12px 0px rgba(50, 50, 50, 0.51);
-moz-box-shadow:    0px -3px 12px 0px rgba(50, 50, 50, 0.51);
box-shadow:         0px -3px 12px 0px rgba(50, 50, 50, 0.51);*/
}
footer .row {margin-top: 20px;}

footer p {
  margin: 0;
  padding: 20px 0;
}
.hi_res_heading{width:100%; margin:15px 0;}
.hi_res_heading h3{  border-bottom: 1px solid #8c8b86;
    color: #444 !important;
    font-family: "Playfair Display",serif !important;
    font-size: 20px !important;
    font-style: normal !important;
    line-height: 35px;
    padding: 2px;
    text-align: center;
    text-transform: capitalize !important;
    width: 100%;}

	.hi_res_link a{ color:blue; text-decoration:underline;font-size: 16px;}
	.hi_res_link a:hover{ color:#004b8d; text-decoration:underline;font-size: 16px;}
	.pad10 {
    padding: 10px !important;
}
.pad5{
    padding: 5px !important;
}
/*============ Mobile ========*/
@media screen and (max-width: 999px) { 
  header {margin-bottom: 0px}
.nav > li {
width: 100%;
 border-bottom: 1px solid #f2f2f2; 
}
 .nav > li { border-right: 1px solid #f2f2f2;}
  #navbar { padding:0px 15px 0px 15px;} 
#navbar .nav { padding:0px; }
.navbar .container-fluid {
   padding-right: 15px;
  padding-left: 15px;}
.arrow_box {border:0px;}
  .carousel-caption h3 {font-size: 2.75em !important;}
  .carousel-control {display: none;} 
  
  .arrow_box:after, .arrow_box:before {
    display: none;
    
  }
 
  .blurb {bottom:0px !important;}  
  .blurb p {font-size: 10px !important;;}
  .footer-nav li {padding: 5px;}
  .blurb-i {top: 10px;}
    .blurb-i p {font-size: 14px;}
}

@media screen and (max-width: 640px) {
  .blurb {position: relative !important; width: 100% !important; right:0px !important; padding: 10px;} 
  .blurb h3 {margin-top: 0px; }
  .nav > li {width: 100%;}
  
  .blurb-i {position: relative !important; margin-top: 0px; }
  .blurb-i p {color: #000 !important; padding: 20px !important;}
  .blurb-i .thumbnail {position: absolute; top: -60px}
  
  .banner-title {position: relative !important; top: 5px; }
  .banner-title h4 {font-size: 24px !important; padding: 5px !important;;
    color: #004b8d !important; text-shadow: 0px 0px 0px !important;}
      .banner-title p {width: 100% !important; color: #000 !important;}
  .banner-title p, .banner-title h4 {text-align: center;}
  
  .holder-2 a {width:100%; display:table; text-align: center;}
.holder-2 a.jp-current, a.jp-current:hover { 
	color: #fff !important;
	background: #EF3E42 !important;
	font-weight: bold;
}
  .footer-nav {background:#004B8D;}
.footer-nav li {min-width:100%; border-bottom:1px solid #8c8b86;}
.footer-nav li:nth-child(5) {height:0px; border:none;  display:none;}
.footer-nav li:last-child,.footer-nav li:last-child a,.footer-nav li:last-child p {border:none;  color:#fff; position:relative !important;}
.footer-nav li a  { font-size:25px !important; font-family: 'Arimo', sans-serif; font-weight:400; margin:0 !important; color:#fff !important; padding-top:0px; text-align:center !important; display:block;}
.footer-nav li p, .footer-nav li p a { font-size:15px !important; font-family: 'Arimo', sans-serif; text-align:center !important;  display:block; border:0;}
  
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  /*! display: none; */
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  /*! padding: 35px; */
}

.navbar-nav>li>a {
  /*! line-height: normal; */
}

.navbar-nav {
  /*! float: none; */
  /*! margin: 0 auto; */
  /*! display: table; */
  /*! table-layout: fixed; */
  /*! font-family: 'Arimo', sans-serif; */
  /*! font-size: 12px; */
}
.container {position:relative;}
   .blurb-i {top: 10px;}
  .blurb-i p {font-size: 14px; padding-top:0px;}
}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}


/*----Custom Style----*/


#content {margin:0; width:100%;   padding-bottom:0px;}


.container {max-width: 1200px !important;}
     
.row {max-width: 1200px !important; position: relative;}
     
.page-fix {
	width:100%;
/*-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);*/
}


.sm-view {display:none;}
.topbox {padding:10px 30px 0px 0;}
.top-nav {height: 15px;}
.logo {border: 0px dotted #CCC;   padding:10px !important; margin:0;}
.logo img {max-width: 70%;}
.link_t a, .link_t p { display:inline; float:right; padding:2px 5px 0 5px;}
.link_t a {color: #666;}
.link_t  #selected {color: #F13639; }
.link_t {padding-right:50px !important;}
.tabsearch .navbar-form {display:none !important; }

.nav-top { height: auto; padding: 0; margin: 20px 0;}
.nav-top .nav li  {background: none !important; padding: 0 15px;}
.nav-top .nav li:nth-child(-n+2) {border-right:1px solid #666;}
.nav-top .nav li a {font-size: 14px;}
.nav-top .nav {margin-left:0px; float:right;}
.box1 {margin-bottom:20px;}
.box4 { padding:10px !important;  border: 0px dotted #CCC;} /*    background:#eff1f2; */
.box5 {padding:0 0 0 5px !important;}
.box5  p  {padding:0px; background:#039; color:#fff;}
.box5 strong {border-bottom:1px solid #fff; margin-bottom:20px; font-size:18px; text-transform:uppercase;}

.block3 {background:#004b8d ; width:1120px; color:#fff; margin:10px 0 0 10px !important; border: 0px solid #000;} /* 1d7fd8   */
.block3 p {padding:10px; color:#fff;}
.lastbox {margin-bottom:10px;}
.pad15 {padding:15px !important;}
.pad10 {padding:10px !important;}
.pad5 {padding:5px !important;}
.padtop20 {padding-top:20px !important;}
.padtop15 {padding-top:15px !important;}

.pad15l {padding:15px 0 15px 15px !important;}
.pad15r {padding:15px 15px 15px 0 !important;}

.block-space {margin-bottom:0px;}
.box4 strong {border-bottom:1px solid #000; margin-bottom:20px; font-size:18px; text-transform:uppercase;}
.row-pad {padding:0px 15px 0px 15px;}
.box-img  img {max-width:550px;}
.no-pad {padding:0 !important;}

.border-nav { /*! border-bottom: 1px solid #8c8b86; */ /*! border-top: 1px solid #8c8b86; */border: 1px solid #8c8b86;}
.border { border: 4px solid #8c8b86;}

.front-box img {background: #fff !important;}
.front-box p { font-family: 'Playfair Display', serif; font-size: 24px; color:#A5A4A0; font-size:24px; margin:0; text-align:center; text-transform:capitalize; padding:10px 0 5px 10px; border: 0px solid #8c8b86;}
.front-box p i {font-family: 'Playfair Display', serif; padding-left:0px;  font-size: 18px; text-align: center;}

.phone { font-family: 'Arimo', sans-serif; font-size: 15px; text-align:right; color:#8c8b86;  }
.phone i {margin-right:8px;}
.slidebox {width:850px; margin: auto;}

.carousel-caption h3  { font-family: 'Playfair Display', serif; font-size:4em; color:#8c8b86; text-transform:capitalize; text-align:center; margin:0px;}

.page-top {background: #CCC;}
.before-footer, .before-footer a {color:#fff; background:#8c8b86; position:relative;}
.img-pad {padding:15px !important; }
.img-pad img {border:0px solid #8c8b86; max-width: 255px;}
.var-ap img {width: 100%;}
.th-icon {position:absolute; width:10%; bottom:20px; right:20px}

.page-banners { margin-top:0px; position: relative;}
.page-banners img {width: 100%;}
.page-banners h3 { width:100%; position:absolute; bottom:10px; left:15px; font-size:54px; font-family: 'Playfair Display', serif; text-transform:capitalize; color:#8c8b86; }
.blurb {width:55%; position:absolute; bottom:25px; right:15px;}
.blurb p {width:100%; font-family: 'Arimo', sans-serif; padding:0px; font-size:1em; height:auto; color:#565655;  }
.blurb h3 { width:100%;  left:15px; font-size:2.25em; font-family: 'Playfair Display', serif; text-transform:capitalize; padding:2px; border-bottom: 1px solid #8c8b86; color:#565655; line-height:35px;}
.blurb h3 span {font-size:24px; font-style:italic; }
.blurb-l {width:45%; position:absolute; bottom:5px; left:15px;}
.blurb-l p {width:100%; font-family: 'Arimo', sans-serif; padding:0px; font-size:14px; height:auto; color:#fff;  }
.blurb-l h3 { width:100%;  left:15px; font-size:2.5em; font-family: 'Playfair Display', serif; text-transform:capitalize; padding:2px; border-bottom: 1px solid #8c8b86; color:#565655;}
.blurb-i img {width:65%; padding:5px; border-bottom:0px solid #d5d89f;}
.blurb-i { position:absolute; top:18px; left:15px; }
.blurb-i p {width:100%; font-family:'Arimo', sans-serif; /*! padding:15px; */ font-size:14px; height:auto; color:#CECDCA; border-top:0px solid #cecdca; display:block; }
.blurb-i h3 { width:100%;  left:15px; font-size:2.5em; font-family: 'Playfair Display', serif; text-transform:capitalize; padding:2px; border-bottom: 1px solid #8c8b86; color:#565655;}
.blurb-box {display:block; position:relative !important;}

.banner-title {width:100%; position:absolute; bottom:5px; padding: 10px;}
.banner-title h4 {width:100%;  left:15px; font-size:64px; font-family: 'Playfair Display', serif; text-transform:none; padding:2px;  color:#fff;
					text-shadow: 1px 1px 4px rgba(0, 0, 0, 1.0);}
.banner-title p  {font-size:1em; color:#fff; width:50%;}

.number {margin-top: 20px;}
.number p {font-family: 'Arimo', sans-serif; font-size:16px; font-style:normal; text-align:center; height:35px; padding:10px; margin:0; width:100%;  color:#565655; }
.number img {max-width:80% !important;}

.vlist p {font-size:1.05em;}

.b-note {font-size:0.825em; text-align:center; margin-top:10px; padding:10px;}
.b-note  p {color: #8c8b86; }

.logolink a {color:#fff;}
.logolink a:nth-child(odd) {background:#999; color:white;padding:4px;}
.logolink a:nth-child(even) {background:#CCC; color:White; padding:4px;}
.logolink p{background: #ededed none repeat scroll 0 0;
    padding: 4px 0 4px 10px;}

.exp-nav li {display:inline-block; padding:5px; width:50%;}
.exp-nav li a {color:#565655; font-size:22px;}
.exp-nav li:nth-child(1) {border-bottom: 1px solid #565655}
.exp .col-md-6 {margin-bottom:20px;}
.ss-list {}
.ss-list li {list-style:disc inside; font-size:14pt; padding-bottom: 5px;}
.bodytext-12 p {font-size:18px; font-family: 'Playfair Display', serif; color: #8c8b86; }

.notice {}
.notice p {font-family: 'Playfair Display', serif; font-size: 35px; text-align: center; }
.notice h1 {font-family: 'Playfair Display', serif; font-size: 50px; font-weight: bolder; text-align: center; text-transform:none; }
.notice sup {font-size: 25px;}

hr {width: 100%; color: #000;}

/*.dl-bg {background: url(../images/login-bg.jpg) no-repeat;}*/
.sign-in {padding: 100px;}
.form-signin {padding-top:25px !important;  border-radius: 4px;  border:0px solid #8c8b86; /*margin-left: 0; background: rgba(255, 255, 255, 0.8); 
-webkit-box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);
-moz-box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);
box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);*/
}
.form-signin h2 {font-family: 'Playfair Display', serif; font-style: italic; color:#8c8b86; font-size:24px;}
.form-signin a {width: 100%; text-align: center; display:block;}
.form-signin input {border:1px solid #8c8b86;margin-bottom:10px;}
.form-signin button {width:100%; background:#004B8D;}

.border-pxl1 {border:1px solid #8c8b86;}
.border-r-pxl1 {border-right:1px solid #8c8b86;}
.var-col-1 {border-right:1px solid #8c8b86;}
.var-block {background: #A1171B; color:#fff; border-radius:18px;}
.var-col-1  h5, .var-col-2  h5 {color:#fff; font-size:12px;}
.var-col-1 p {font-size:12px; font-weight:400;}

.address-info h3 {font-family: 'Playfair Display', serif; font-weight:400; padding-bottom:10px; border-bottom: 1px solid #000;}
.address-info p {font-family: 'Arimo', sans-serif; font-size:18px; font-weight:400; padding-bottom:10px;}
.address-info address p {font-size:22px}

.address-info ul {padding: 0;}
.address-info ul li {font-family: 'Arimo', sans-serif;  font-size: 26px; list-style: none; margin-bottom: 20px; }

.pa-box {padding: 20px !important; border-bottom: 1px solid #8c8b86; margin-bottom: 20px; }
.pa-box p {font-family: 'Playfair Display', serif; font-size: 30px; text-align: center; text-transform: capitalize;}


.form-horizontal {border:0px solid #8c8b86;}
.form-horizontal legend {font-family: 'Playfair Display', serif; font-weight:400; font-size:16px; padding-bottom:10px;}
.form-horizontal label {font-family: 'Arimo', sans-serif; font-weight:400; font-size:12px;}
.form-horizontal #name, #email, #phone, #city, #address, #textarea {width:100%; margin: 0px 0 10px 0; background:#fff; border: 1px solid #A5A4A0;}
.form-horizontal #textarea {height: 250px;}
.form-horizontal .radio {width:170px; }
.form-horizontal #submit {background:#A5A4A0; color: #fff; font-family: 'Arimo', sans-serif; font-size:16px; margin:0; border:0;}
.form-horizontal #submit:hover {background:#004B8D;}
.form-horizontal .control-label {text-align:left;}
.form-horizontal input:required {
    border-color: #ccc !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.form-border {border:1px solid #8c8b86;}
footer .row {margin-top:0px; color:#8c8b86 !important; border-top: 0px solid #8c8b86;  padding:0px;  max-width:1080px;} /* 1140px  */
.footer-set {color:#fff; height:220px; border-right: 1px solid #fff;}
.footer-set:last-child {border:0px;}
.footer-nav { display:block; margin-top:50px; padding:0; width:100%; border-top: 1px solid #8c8b86; border-bottom: 0px solid #8c8b86; position:relative;}
.footer-nav li { display:inline-block; margin: 5px 0 5px; list-style:none; padding:16px;}
.footer-nav li a { font-size:16px !important; font-family: 'Arimo', sans-serif; font-weight:400; margin:0 !important; color:#8c8b86;}
.footer-nav li a:hover {color:#EF3E42;}
.footer-nav li p { font-size:15px !important; font-family: 'Arimo', sans-serif; padding:0; font-weight:400; margin-left:80px !important; color:#8c8b86; float:right;text-align: center;/*! display: block:; */width: 100%;}




footer .box  {border-top:1px solid #8c8b86; margin:auto;}
footer a {color:#fff;}
.footer-bottom { margin-top:0px !important; padding:10px; border-top:0px solid #fff !important; width:1140px;} /*background:#0A0909;*/
.footer-bottom p, .footer-bottom a {
		font-family: 'Arimo', sans-serif; 
	    color:#8c8b86;
 	    font-size: 0.975em;
  		text-align:left !important;
		padding:10px;
		}
.footer-bottom a:hover {color:#EF3E42;}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #004B8D;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-size:22px;
}
.scroll-top-wrapper:hover {
	background-color: #EF3E42;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
 


/*======== carousel ==================*/	

#back_to_camera {
	clear: both;
	display: block;
	height: 80px;
	line-height: 40px;
	padding: 20px;
}
.fluid_container {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}

/*  carousel fade */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/*==================================== */

.arrow_box {
	position: relative;
	background: #fff;
	border: 1px solid #8c8b86;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(140, 139, 134, 0);
	border-bottom-color: #8c8b86;
	border-width: 9px;
	margin-left: -9px;
}

/***** contact form *****/
.contact-form {
	position: relative;
	vertical-align: top;
	z-index: 1;
	margin: 0;
}
.contact-form .txt-form {
	display: none;
}
.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
	float: left;
	width: 253px;
}
.contact-form .coll-1, .contact-form .coll-2 {
	margin-right: 5px;
}
.contact-form fieldset {
	border: none;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 10;
}
.contact-form label {
	display: inline-block;
	min-height: 57px;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.contact-form .message {
	display: block;
	width: 100%;
}
.contact-form input, .contact-form textarea {
	font-family: 'Arimo', sans-serif;
	padding: 10px 10px 10px 10px;
	margin: 0;
	font-size: 15px;
	line-height: 20px;
	color: #b4b4b4;
	background: #fff;
	outline: none;
	width: 100%;
	border: 1px solid #b7b7b7;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: left;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
}
.contact-form input {
	height: 42px;
}
.contact-form input:focus, .contact-form textarea:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #b7b7b7 !important;
	color: #b4b4b4 !important;
}
.contact-form .area .error {
	float: none;
}
.contact-form textarea {
	width: 100%;
	height: 252px;
	resize: none;
	overflow: auto;
}
.contact-form .success {
	border: 1px solid #b7b7b7;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 15px;
	line-height: 17px;
	background: #fff;
	padding: 14px 0px;
	text-transform: none;
	text-align: center;
	z-index: 20;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0px;
}
.contact-form .error, .contact-form .empty {
	color: #f00;
	font-size: 10px;
	line-height: 1.2em;
	display: none;
	overflow: hidden;
	padding: 0px 4px 0px 0;
	text-transform: none;
	position: absolute;
	font-weight: normal;
	bottom: 3px;
	right: 0;
}
.contact-form .message .error, .contact-form .message .empty {
	bottom: -15px;
}
.contact-form .buttons-wrapper {
	position: relative;
	padding-top: 30px;
}
.contact-form .buttons-wrapper a {
	cursor: pointer;
	margin-top: 0;
	margin-right: 20px;
}
.contact-form .buttons-wrapper a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}

/*** Superfish ***/

.nav-main { width:100%; height: auto; padding: 0; margin: 0px 0; display:block; float:left;}
.nav-main ul {width:100%; position:relative;}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Arimo', sans-serif;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: block;
	top: 42px;
	left: 0px;
	z-index: 99;
	padding:0px;
	background: #fff;
	width:auto;
	border-right: 1px solid #8c8b86;
	border-left: 1px solid #8c8b86;
	border-bottom: 1px solid #8c8b86;
-webkit-box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);
-moz-box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);
box-shadow: 0px 7px 9px -4px rgba(87,87,87,1);
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
	
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 0;
}
.sf-menu ul {
	/*box-shadow: 2px 2px 6px rgba(0,0,0,.2);*/
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	display: inline-block;
	border-left: 0px solid #fff;
	border-top: 0px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 0px solid rgba(255,255,255,.5);
	padding: 15px 0 15px 0px; /* 15px 0 15px 6px -.75em 1em  */
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	text-transform:uppercase;
	 text-align:center;
	font-size:1.125em; /*0.825em*/
 	margin-right:0px;
	height:auto;
	zoom: 1; /* IE7 */
	width: 147px;
}
 .sf-menu>li:nth-child(n+5) {width:232px;}
 .sf-menu>li:first-child > a  { width:59px; margin-right: 0px !important;  padding:10px; font-size:1.75em;color:#fff; text-align:center; /*! height: 20px; */background: #8c8b86;}
  .sf-menu>li:nth-child(8) { width:22%; margin:0 !important;  padding-left:20px; position:absolute; right:0px; display:none;}
  
.sf-menu a {
	color: #8c8b86;
	font-family: 'Arimo', sans-serif;
}
.sf-menu ul li a {
	font-size:0.825em;
	font-style:italic;
	text-align:left;
	padding:10px 15px 10px 10px;
	text-transform:none;width: 100%;
	font-family: 'Arimo', sans-serif;
	
}
.sf-menu ul li> li a {
	font-size:5px;
	font-family: 'Arimo', sans-serif;
}
.sf-menu li {
	background: none;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
	top:0px;
}
.sf-menu ul ul { border: 1px solid #8c8b86;
	
}
.sf-menu ul ul li {
	background: #fff;
	padding:2px;
}
.sf-menu ul li:hover, .sf-menu>li:first-child > a:hover ,
.sf-menu ul li.sfHover {
	background: #004B8D ;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
	
}
.sf-menu ul li a:hover {color: #fff;}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 0;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 0px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
	text-align:center;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);text-align:center;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}


/*** J Pages ***/
.holder {
	margin:0;
	position:absolute;
	top:8px;
	right:0;
}

.holder a {
	font-size: 14px;
	cursor: pointer;
	margin-left: -1px;
	color: #8c8b86;
	font-family: 'Arimo', sans-serif;
	padding:5px 15px;
	border: 1px solid  #CECDCA;
	
}

.holder a:hover {
	background-color: #CECDCA;
	color: #fff; 
}

.holder a.jp-previous { margin-right: 0px; }
.holder a.jp-next { margin-left: -1px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #fff;
	background-color: #CECDCA;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	
}

.holder span { margin: 0 5px; }


#itemContainer {padding:0 !important;}
#itemContainer li {display:inline-block; }

.holder-fix {position:relative; height:35px;}


/*=========================================================*/


.holder-2 {
	margin: 15px 0;
}

.holder-2 a {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	cursor: pointer;
	margin: 0;
	color: #8c8b86;
	padding: 10px;
}

.holder-2 a:hover {
	border-bottom:0px solid #222;
	color: #CECDCA;
}

.holder-2 a.jp-previous { margin-right: 15px; }
.holder-2 a.jp-next { margin-left: 15px; }

.holder-2 a.jp-current, a.jp-current:hover { 
	color: #004B8D;
	border-bottom:2px solid #EF3E42;
	font-weight: bold;
}

.holder-2 a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder-2 a.jp-current, a.jp-current:hover,
.holder-2 a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder-2 span { margin: 0 5px; }

/*=========================================================*/

.jpageTab h1, jpageList h1 {font-family: 'Playfair Display', serif; font-size: 22px; padding:0 0 10px 0; border-bottom:1px solid #565655; text-transform:capitalize; color: #565655; margin:0 0 10px;}
.jpageTab h2, .jpageList h2 {font-family: 'Playfair Display', serif; font-size: 18px; padding:0 0 5px 0; border-bottom:0px solid #565655; margin:0 !important; font-style:bold; text-transform:capitalize; color: #565655;}
.jpageTab p {font-family: 'Arimo', sans-serif; font-size:12pt; color: #565655;}
.jpageTab  p strong {font-weight:bold; text-transform:uppercase;}
.jpageList ul {margin:0px 0 20px 0; padding:15px; border-bottom:0px solid #565655;}
.jpageList ul li { color: #565655; font-size: 16px; margin:0px 0 10px 0; }
.jpageCol .col-md-4 {margin:0; min-height:230px; margin-bottom:20x;}
.jpageCol {border:1px solid #565655;}
.jpageCol .col-md-4:nth-child(-n+2) {border-right:1px solid #565655;}
.jpageList .col-md-4 p, .wrrnt  .col-md-12 p {font-size:14px;}
.jpageList .col-md-4 h2 {font-size:20px; font-weight:bold;}
.wrrnt h2 {font-size:20px; font-weight:bold;}
.jpageList .col-md-4 h2 {font-size:20px; font-weight:bold;}
.wrrnt h2 {font-size:20px; font-weight:bold;}
.wrrnt .col-md-12 {margin-bottom: 10px;}

.jtable .col-md-12 {margin-bottom: 10px; padding:5px;}
.jtable .col-md-12:first-child {margin:0;}
.jtable ul {padding:0 0 0 20px;}

.jtable h1 { padding:10px; width:95%; display:block;}
.jtable h2 { padding:5px; 
background: rgb(242, 242, 242);
background: -moz-linear-gradient(1deg, rgb(242, 242, 242) 32%, rgb(255, 255, 255) 75%);
background: -webkit-linear-gradient(1deg, rgb(242, 242, 242) 32%, rgb(255, 255, 255) 75%);
background: -o-linear-gradient(1deg, rgb(242, 242, 242) 32%, rgb(255, 255, 255) 75%);
background: -ms-linear-gradient(1deg, rgb(242, 242, 242) 32%, rgb(255, 255, 255) 75%);
background: linear-gradient(91deg, rgb(242, 242, 242) 32%, rgb(255, 255, 255) 75%);}

.jtable h3 {font-family: 'Playfair Display', serif; font-size: 48px;color: #8c8b86; text-transform:none; font-style:italic;}

.jtable h4 {font-family: 'Playfair Display', serif; font-size: 28px;color: #8c8b86; text-transform:none;}

.jtable h5 {font-family: 'Playfair Display', serif; font-size: 48px;color: #8c8b86; text-transform:none; font-style:italic;}



.jtable h6 {font-family: 'Playfair Display', serif; font-size: 28px;color: #8c8b86; text-transform:none; font-style:italic; display:none; }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{ 
.jtable .febe {display:none;}
.jtable h1 {  display:none;}
.jtable h6 {font-family: 'Playfair Display', serif; font-size: 18px;color: #8c8b86; text-transform:none; font-style:italic; display:block; border-bottom:1px solid #8c8b86; margin: 10px 0 10px;}
.jpageCol {border:0px !important;}
.wrrnt {padding:15px !important;}
}

 @media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
{ 
.jtable .febe {display:none;}
.jtable h1 {  display:none;}
.jtable h6 {font-family: 'Playfair Display', serif; font-size: 18px;color: #8c8b86; text-transform:none; font-style:italic; display:block; border-bottom:1px solid #8c8b86; margin: 10px 0 10px;}
.jpageCol {border:0px !important;}
.wrrnt {padding:15px !important;}
}

 @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
{ 
.jtable .febe {display:none;}
.jtable h1 {  display:none;}
.jtable h6 {font-family: 'Playfair Display', serif; font-size: 18px;color: #8c8b86; text-transform:none; font-style:italic; display:block; border-bottom:1px solid #8c8b86; margin: 10px 0 10px;}
.jpageCol {border:0px !important;}
.wrrnt {padding:15px !important;}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)
 { 
 .jpageCol .col-md-4 { min-height: auto !important;}
 .jpageCol .col-md-4:nth-child(-n+2) { border-bottom:1px solid #565655;}
  .jpageCol .col-md-4:nth-child(-n+2) { border-right:0px;}
 .wrrnt {padding:15px !important;}
 }
 
 /*!
 * jReject (jQuery Browser Rejection Plugin)
 * Version 1.1.x
 * URL: http://jreject.turnwheel.com/
 * Description: jReject is a easy method of rejecting specific browsers on your site
 * Author: Steven Bower (TurnWheel Designs) http://turnwheel.com/
 * Copyright: Copyright (c) 2009-2014 Steven Bower under dual MIT/GPL license.
 */

#jr_overlay {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 2147483646;
	position: absolute;
}

#jr_wrap {
	position: absolute;
	width: 100%;
	z-index: 2147483647;
	padding: 0;
	margin: 0;
}

#jr_inner {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	background: #FFF;
	border: 1px solid #CCC;
	color: #4F4F4F;
	margin: 0 auto;
	height: auto;
	padding: 20px;
	position: relative;
	box-sizing: content-box;
}

#jr_header {
	display: block;
	color: #333;
	padding: 5px;
	padding-bottom: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

#jr_inner p {
	padding: 5px;
	margin: 0;
}

#jr_inner ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#jr_inner ul li {
	cursor: pointer;
	float: left;
	width: 120px;
	height: 122px;
	margin: 0 10px 10px 10px;
	padding: 0;
	text-align: center;
}

#jr_inner li a {
	color: #333;
	font-size: 0.8em;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#jr_inner li a:hover {
	text-decoration: underline;
}

#jr_inner .jr_icon {
	width: 100px;
	height: 100px;
	margin: 1px auto;
	padding: 0;
	background: transparent no-repeat scroll left top;
	cursor: pointer;
}

#jr_close {
	clear: both;
	padding: 0;
	margin: 0;
}

#jr_close a {
	color: #000;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#jr_close p {
	padding: 10px 0 0 0;
	margin: 0;
}


.roomlink {
    background: #eee none repeat scroll 0 0;
    color: #444;
    font-size: 15px;
    padding: 4px 0 !important;
}



